*{margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(105, 105, 245);
    overflow: hidden;
}
.wrapper{
    max-width: 405px;
    margin: 135px auto;
    border-radius: 9px;
    background-color: #fff;
    padding: 28px 0 ;
}
.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input img{
    max-width: 5%;
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
}
.task-input input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 25px 0 53px;
}
.task-input input::placeholder{
    color: #ccc;
}
.controls{
    padding: 18px 25px;
    border-bottom: 1px solid #000;
}
.controls, li{ 
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.filter span{
    cursor: pointer;
    margin: 0 8px;
    font-size: 18px;
}
.filter span:first-child{
    margin-left: 0;
}
.filter span.active{
    color: blue;
}
.controls .clear{
    cursor: pointer;
    border: none;
    background: rgb(105, 105, 245);
    color: aliceblue;
    padding: 7px 14px;
}
.task-box{
    margin: 20px 25px;
}
.task-box .task{
    list-style: none;
    margin-bottom: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
}
.task-box .task:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.task label{
    display: flex;
}
.task label input{
    margin-right: 12px;
}

